<div class="container">
  <br>
    <form  [formGroup]="linkForm" (ngSubmit)="submitForm()">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Alias</label>
            <input type="text" class="form-control mb-2" id="inlineFormInput" formControlName="alias" name="aliasinput" placeholder="Alias">
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Link</label>
            <input type="text" class="form-control mb-2" id="inlineFormInput" formControlName="link" name="linkinput" placeholder="Link">
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Output URL Shortener</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">{{domain}}</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="shortLink" name="urlshort" placeholder="Output URL Shortener">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)= "generateRandomLink()">Generate link</button>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2" >Submit</button>
          </div>
        </div>
      </form>
</div>
<br>
<div class="container">
    <table class="table table-sm table-dark">
        <thead>
          <tr>
            <th scope="col">Acess</th>
            <th scope="col">Alias</th>
            <th scope="col">Link</th>
            <th scope="col">Shortener Link</th>
          </tr>
        </thead>
        <tbody *ngFor="let link of links | async">
          <tr>
            <th>{{link.count == undefined || link.count == null ? 0 : link.count}}</th>
            <td>{{link.alias}}</td>
            <td>{{link.link}}</td>
            <td><a href="#" (click)="clip(link.shortLink)">{{domain+link.shortLink}}</a></td>
          </tr>
        </tbody>
      </table>
      
</div>
